/*
Copyright(C) 2016.  All rights reserved to Bjørnholt school. 
https://bjornholt.osloskolen.no/
@author Created by Bachelor Final Project group 18 at Oslo and Akershus University College 
Creating interactive web pages using the Angualr framework carried out by:
Martin Hansen Muren Mathisen (s189116), Waqas Liaqat (s180364), 
Yuanxin Huang (s184519), Thanh Nguyen Chu (s169954)
@version 1.01.01
*/
/* 
    Created on : 18.feb.2016, 01:41:11
    Author     : yuanxinhuang
*/

body {
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px !important;
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
// background imagie from <a href='http://www.freepik.com/free-vector/photography-studio-background_


.login-wrapper {
    padding: 2px 20px 20px 20px;
    min-width: 300px;
    color:black;
}

.login-wrapper a {
    color:white;
}
.padding-top-20 {
    padding-top: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 2px 4px rgba(255,255,255, 0.4);
    -moz-box-shadow: 0px 0px 2px 4px rgba(255,255,255, 0.4);
    box-shadow: 0px 0px 2px 4px rgba(255,255,255, 0.4);
}

/*bg color not use yet*/
.darkblue-bg {
    background : #1A3366;
    background-color : #1A3366;
}
.blue-bg{
    background : #3366CC;
    background-color : #3366CC;
}
.little-darkblue-bg{
    background : #264C99;
}

.lightblue-bg{
    background :rgba(201,210,229,0.4);
}

.btn{
    border-radius: 0;
}
